
.pie{
    width: 16em;
    border: gray;
    background-color:#f7f7f7;;
    
}
.bar{
    width: 33em;
    background-color: #f7f7f7;;
    
}  
.doughnut{
    width: 0.625em;
    height: 20%;
    font-size: 1.875em;
}

.pie-p{
    display: flex;
  justify-content:space-between;
}

.link{
    position: relative;
}
.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25em;
    max-width: 56.25em;
    margin: 0 auto;
    padding: 0.625em;
}
.tablehead{
display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-bottom: 1px solid #8a85852f;
  font-size: 1rem;

  border-width: 105%;
 
}
.previousTable{
    margin: 0 auto;
    width:85%;
    background-color: #f7f7f7
}
.rejected-down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--rejected-btn-bg-clr);
    color: var(--main-bg-clr);
    width: 60%;
    margin-left: 1rem;
}